/*
    COORDINATES
*/

.top-0 { top: 0; }
.right-0 { right: 0; }
.bottom-0 { bottom: 0; }
.left-0 { left: 0; }

.absolute--fill {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@if (variable-exists(breakpoints)) {
  @each $bp-name, $bp-value in $breakpoints {
    @media (min-width: $bp-value) {
      .top-0-#{$bp-name} { top: 0; }
      .right-0-#{$bp-name} { right: 0; }
      .bottom-0-#{$bp-name} { bottom: 0; }
      .left-0-#{$bp-name} { left: 0; }
      .absolute--fill-#{$bp-name} {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }
}
