/*
    FLEXBOX
*/

.flex { display: flex; }
.inline-flex { display: inline-flex; }

.flex-auto {
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
}

.flex-none { flex: none; }

.flex-column { flex-direction: column; }
.flex-row { flex-direction: row; }
.flex-wrap { flex-wrap: wrap; }
.flex-column-reverse { flex-direction: column-reverse; }
.flex-row-reverse { flex-direction: row-reverse; }
.flex-wrap-reverse { flex-wrap: wrap-reverse; }

.items-start { align-items: flex-start; }
.items-end { align-items: flex-end; }
.items-center { align-items: center; }
.items-baseline { align-items: baseline; }
.items-stretch { align-items: stretch; }

.self-start { align-self: flex-start; }
.self-end { align-self: flex-end; }
.self-center { align-self: center; }
.self-baseline { align-self: baseline; }
.self-stretch { align-self: stretch; }

.justify-start { justify-content: flex-start; }
.justify-end { justify-content: flex-end; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }

.content-start { align-content: flex-start; }
.content-end { align-content: flex-end; }
.content-center { align-content: center; }
.content-between { align-content: space-between; }
.content-around { align-content: space-around; }
.content-stretch { align-content: stretch; }

.order-0 { order: 0; }
.order-1 { order: 1; }
.order-2 { order: 2; }
.order-3 { order: 3; }
.order-4 { order: 4; }
.order-5 { order: 5; }
.order-6 { order: 6; }
.order-7 { order: 7; }
.order-8 { order: 8; }
.order-last { order: 99999; }


@if (variable-exists(breakpoints)) {
  @each $bp-name, $bp-value in $breakpoints {
    @media (min-width: $bp-value) {
      .flex-#{$bp-name} { display: flex; }
      .inline-flex-#{$bp-name} { display: inline-flex; }
      .flex-auto-#{$bp-name} {
        flex: 1 1 auto;
        min-width: 0;
        min-height: 0;
      }
      .flex-none-#{$bp-name} { flex: none; }
      .flex-column-#{$bp-name} { flex-direction: column; }
      .flex-row-#{$bp-name} { flex-direction: row; }
      .flex-wrap-#{$bp-name} { flex-wrap: wrap; }
      .flex-column-reverse-#{$bp-name} { flex-direction: column-reverse; }
      .flex-row-reverse-#{$bp-name} { flex-direction: row-reverse; }
      .flex-wrap-reverse-#{$bp-name} { flex-wrap: wrap-reverse; }
      .items-start-#{$bp-name} { align-items: flex-start; }
      .items-end-#{$bp-name} { align-items: flex-end; }
      .items-center-#{$bp-name} { align-items: center; }
      .items-baseline-#{$bp-name} { align-items: baseline; }
      .items-stretch-#{$bp-name} { align-items: stretch; }
      .self-start-#{$bp-name} { align-self: flex-start; }
      .self-end-#{$bp-name} { align-self: flex-end; }
      .self-center-#{$bp-name} { align-self: center; }
      .self-baseline-#{$bp-name} { align-self: baseline; }
      .self-stretch-#{$bp-name} { align-self: stretch; }
      .justify-start-#{$bp-name} { justify-content: flex-start; }
      .justify-end-#{$bp-name} { justify-content: flex-end; }
      .justify-center-#{$bp-name} { justify-content: center; }
      .justify-between-#{$bp-name} { justify-content: space-between; }
      .justify-around-#{$bp-name} { justify-content: space-around; }
      .content-start-#{$bp-name} { align-content: flex-start; }
      .content-end-#{$bp-name} { align-content: flex-end; }
      .content-center-#{$bp-name} { align-content: center; }
      .content-between-#{$bp-name} { align-content: space-between; }
      .content-around-#{$bp-name} { align-content: space-around; }
      .content-stretch-#{$bp-name} { align-content: stretch; }
      .order-0-#{$bp-name} { order: 0; }
      .order-1-#{$bp-name} { order: 1; }
      .order-2-#{$bp-name} { order: 2; }
      .order-3-#{$bp-name} { order: 3; }
      .order-4-#{$bp-name} { order: 4; }
      .order-5-#{$bp-name} { order: 5; }
      .order-6-#{$bp-name} { order: 6; }
      .order-7-#{$bp-name} { order: 7; }
      .order-8-#{$bp-name} { order: 8; }
      .order-last-#{$bp-name} { order: 99999; }
    }
  }
}
