/*
    Z-INDEX
*/

.z-0 { z-index: 0; }
.z-1 { z-index: 1; }
.z-2 { z-index: 2; }
.z-3 { z-index: 3; }
.z-4 { z-index: 4; }
.z-5 { z-index: 5; }

.z-999 { z-index: 999; }
.z-9999 { z-index: 9999; }

.z-max { z-index: 2147483647; }

.z-inherit { z-index: inherit; }
.z-initial { z-index: initial; }
.z-unset { z-index: unset; }

@if (variable-exists(breakpoints)) {
  @each $bp-name, $bp-value in $breakpoints {
    @media (min-width: $bp-value) {
      .z-0-#{$bp-name} { z-index: 0; }
      .z-1-#{$bp-name} { z-index: 1; }
      .z-2-#{$bp-name} { z-index: 2; }
      .z-3-#{$bp-name} { z-index: 3; }
      .z-4-#{$bp-name} { z-index: 4; }
      .z-5-#{$bp-name} { z-index: 5; }
      .z-999-#{$bp-name} { z-index: 999; }
      .z-9999-#{$bp-name} { z-index: 9999; }
      .z-max-#{$bp-name} { z-index: 2147483647; }
      .z-inherit-#{$bp-name} { z-index: inherit; }
      .z-initial-#{$bp-name} { z-index: initial; }
      .z-unset-#{$bp-name} { z-index: unset; }
    }
  }
}
