<nav class="f5 sans-serif gradient absolute right-0 left-0 bottom-0 pt30">
    <section class="flex pl10-md ml2 ml10-sm ml30-md">
        <a class="mr5 link brand hover-brand-high underline2" href="https://www.instagram.com/defaultvalue.info/">Instagram</a>
        <a class="mr5 link brand hover-brand-high underline2" href="https://twitter.com/_defaultvalue">Twitter</a>
        <a class="link brand hover-brand-high underline2" href="https://github.com/Default-Value">Github</a>
    </section>
    <p class="black pl2 pl10-sm ml30-md">©2017 Default Value → Jen Evans & Trevor Carr </p>
    <p class="black pl2 pl10-sm ml30-md">working on: <a href="https://fragrancefragrance.com/" class="black">best affordable perfume</a>, gardening, <a href="/projects/zine-machine/">zines</a>, cyanotypes, and a large ecommerce website.</p>
</nav>
