<nav class="f2 flex flex-column flex-row-md sans-serif items-start">
    <div class="w22-md max-w60 mb2 mb0-md mr8-md lh-2">
        <a class="fixed-md w22 link black" href="/">{% if page.url == "/" %}Default Value is a technology and design studio based in Minneapolis.{% else %}Default Value{% endif %}</a>
    </div>
    <div class="flex items-start">
        <a class="mr6 link brand hover-brand-high underline2" href="/about">About</a>
        <a class="mr6 link brand hover-brand-high underline2" href="/work">Work</a>
        <a class="link brand hover-brand-high underline2" href="/services">Services</a>
    </div>
</nav>
