// Border
$border-width: 2px;
$border-radius: 4px;

// Breakpoints
$breakpoints: (
  xs: 32em,
  sm: 40em,
  md: 52em,
  lg: 64em
);

// Loop Counts
$spacing-count: 24; //Generates margin and padding classes 0.5rem increments
$layout-count: 48; //Generates height/width classes in 0.5rem increments

// Type Scale
$h1: 2rem;    // 32px
$h2: 1.5rem;   // 24px
$h3: 1.25rem;  // 20px
$h4: 1rem;      // 16px
$h5: 0.875rem;  // 14px
$h6: 0.75rem;   // 12px

$line-height-1: 1;
$line-height-2: 1.25;
$line-height-3: 1.5;
$line-height-4: 2;

$measure-1: 20em;
$measure-2: 30em;
$measure-3: 40em;
$measure-4: 50em;

// Color Definitions
$white: #FFFFFF;
$black: #000000;
$light-grey: #F1F1F1;
$brand: #009E34;
$brand-low: #007327;
$brand-high: #00CA43;

// Color Palette
$color-palette: (
  white: $white,
  black: $black,
  light-grey: $light-grey,
  brand: $brand,
  brand-low: $brand-low,
  brand-high: $brand-high,
);
