---
layout: default
---
{% if page.position < 10 %}
    {% assign number = page.position | prepend: '0' %}
{% else %}
    {% assign number = page.position %}
{% endif %}
<div class="ml30-md mt10 container-wide">
    <div class="flex flex-column flex-row-xl justify-between mb8">
        <div class="mr6-xl">
          <h1 class="f2 f1-sm fw4 lh-2 black link mb0 dim mt0">{% if page.client.name %}<span class="sans-serif smaller">{{ page.client.name }} — </span>{% endif %}{{ page.title }}</h1>
        </div>
        <div class='mt1 mt0-xl'>
            <ul class="list f6 fw4 ttu sans-serif tracked pl0 ma0 lh-3 w28-xl">
                {% for item in page.tags %}
                  <li class="dib db-xl mt0-xl">{{ item }}<span class="dn-xl">{% if forloop.last == false %}, {% endif %}</span></li>
                {% endfor %}
                <div class="mt3 lh-4">
                  {% if page.client %}
                    <li>Client: <a href="{{ page.client.url }}" class="link underline2 brand hover-brand-high">{{ page.client.name }}</a></li>
                  {% endif %}
                  {% if page.collaborator %}
                    <li>Collaborator: <a href="{{ page.collaborator.url }}" class="link underline2 brand hover-brand-high">{{ page.collaborator.name }}</a></li>
                  {% endif %}
                  {% if page.designer %}
                    <li>Design: <a href="{{ page.designer.url }}" class="link underline2 brand hover-brand-high">{{ page.designer.name }}</a></li>
                  {% endif %}
                </div>
            </ul>
        </div>
    </div>
    <div class="markdown lh-3">
        {{ content }}
    </div>

    <div class="relative z-2">
    {% assign sorted = site.projects | sort:"position" %}
    {% for project in sorted %}
      {% if project.publish %}
      {% if project.position == page.position %}

        <!-- first project -->
        {% if forloop.first %}
          <div class="flex justify-between mt16 f5 sans-serif">
          {% assign prev = sorted.last %}
            <a class="link dim flex items-center" href="{{ prev.url }}">
              <span class="brand mr1 dn-sm db-md dn-lg">←</span><span class="link underline2 brand">Previous Project</span>
              <img class="ml3 w18 w20-md dn db-sm dn-md db-lg {% if prev.isBrowser %}shadow{% endif %}" src="{{ prev.image }}" />
            </a>
          {% assign index-next = page.position | plus:1 %}
          {% assign next = site.projects | where:"position",index-next %}
          {% for post in next %}
            <a class="link dim flex items-center" href="{{ post.url }}">
              <img class="mr3 w18 w20-md dn db-sm dn-md db-lg {% if post.isBrowser %}shadow{% endif %}" src="{{ post.image }}" />
              <span class="link underline2 brand">Next Project</span><span class="brand ml1 dn-sm db-md dn-lg">→</span>
            </a>
          {% endfor %}
          </div>
        <!-- last project -->
        {% elsif forloop.last %}
          <div class="flex justify-between mt16 f5 sans-serif">
          {% assign index-previous = page.position | minus:1 %}
          {% assign prev = site.projects | where:"position",index-previous %}
          {% for post in prev %}
            <a class="link dim flex items-center" href="{{ post.url }}">
              <span class="brand mr1 dn-sm db-md dn-lg">←</span><span class="link underline2 brand">Previous Project</span>
              <img class="ml3 w18 w20-md dn db-sm dn-md db-lg {% if post.isBrowser %}shadow{% endif %}" src="{{ post.image }}" />
            </a>
          {% endfor %}
          {% assign next = sorted.first %}
          <a class="link dim flex items-center" href="{{ next.url }}">
            <img class="mr3 w18 w20-md dn db-sm dn-md db-lg {% if next.isBrowser %}shadow{% endif %}" src="{{ next.image }}" />
            <span class="link underline2 brand">Next Project</span><span class="brand ml1 dn-sm db-md dn-lg">→</span>
          </a>
          </div>
        <!-- middle projects -->
        {% else %}
          <div class="flex justify-between mt16 f5 sans-serif">
          {% assign index-previous = page.position | minus:1 %}
          {% assign prev = site.projects | where:"position",index-previous %}
          {% for post in prev %}
            <a class="link dim flex items-center" href="{{ post.url }}">
              <span class="brand mr1 dn-sm db-md dn-lg">←</span><span class="link underline2 brand">Previous Project</span>
              <img class="ml3 w18 w20-md dn db-sm dn-md db-lg {% if post.isBrowser %}shadow{% endif %}" src="{{ post.image }}" />
            </a>
          {% endfor %}
          {% assign index-next = page.position | plus:1 %}
          {% assign next = site.projects | where:"position",index-next %}
          {% for post in next %}
            <a class="link dim flex items-center" href="{{ post.url }}">
              <img class="mr3 w18 w20-md dn db-sm dn-md db-lg {% if post.isBrowser %}shadow{% endif %}" src="{{ post.image }}" />
              <span class="link underline2 brand">Next Project</span><span class="brand ml1 dn-sm db-md dn-lg">→</span>
            </a>
          {% endfor %}
          </div>
        {% endif %}

      {% endif %}
      {% endif %}
    {% endfor %}
    </div>


</div>
